@import 'pretendard/dist/web/variable/pretendardvariable.css';
@import "tailwindcss";

* {
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
}

button {
    font-weight: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f3f4f6; /* 배경 */
    display: flex;
    justify-content: center;   /* 가로 가운데 정렬 */
    align-items: center;       /* 세로 가운데 정렬 */
    min-height: 100vh;         /* 모니터 꽉 차게 */
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;  
    font-size: 14px;
}

#root {
    width: 402px;
    height: 874px;
    background-color: #ffffff; /* 내부 배경 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    
    /* 크기 고정 핵심 설정 */
    min-width: 402px;
    max-width: 402px;
    min-height: 874px;
    max-height: 874px;
    
    /* 이제 카드 목록만 자체 스크롤되므로 root는 스크롤 필요 없음 */
    overflow: hidden;
    
    position: relative;
}

/* 세로 스크롤바 (카드 목록) - 얇고 심플하게 */
.vertical-scroll::-webkit-scrollbar {
  width: 11px;
}

.vertical-scroll::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  margin: 0 20px;
}

.vertical-scroll::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border-radius: 10px;

  border: 2px solid transparent;
  background-clip: content-box;
}

.vertical-scroll::-webkit-scrollbar-button {
  display: none;
}

/* 카테고리 가로 스크롤바 - 조금 더 두껍게 */
.category-scroll {
  overflow-y: hidden;
}

.category-scroll::-webkit-scrollbar {
  height: 14px;
  width: 0px;
}

.category-scroll::-webkit-scrollbar-track {
  background: #E6E6E6;
  border-radius: 10px;
  margin: 0 20px;
}

.category-scroll::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}